.glutenfree {
  background-image: url("../../../assets/gluten-free.svg");
}

.dairyfree {
  background-image: url("../../../assets/dairy-free.svg");
}

.lactoovovegetarian {
  background-image: url("../../../assets/vegetarian.svg");
}

.vegan {
  background-image: url("../../../assets/vegan.svg");
}

.vegetarian {
  background-image: url("../../../assets/vegetarian.svg");
}

.paleolithic {
  background-image: url("../../../assets/paleo.svg");
}

.primal {
  background-image: url("../../../assets/primal.svg");
}

.ovovegetarian {
  background-image: url("../../../assets/ovovegetarian.svg");
}

.pescetarian {
  background-image: url("../../../assets/pescetarian.svg");
}

.lowfoodmap {
  background-image: url("../../../assets/lowfoodmap.svg");
}

.whole30 {
  background-image: url("../../../assets/whole30.svg");
}

.healthyIcon {
  background-image: url("../../../assets/healthy.svg");
}
